[submodule "themes/next"]
	path = themes/next
	url = https://github.com/hongwenshen/hexo-theme-next
[submodule "themes/next-reloaded"]
	path = themes/next-reloaded
	url = git@github.com:hongwenshen/hexo-theme-next-1.git
